[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hugo-conference"]
	path = themes/hugo-conference
	url = git@github.com:jweslley/hugo-conference.git
